<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nouvelle Vente</title>

</head>
<body>
<header>
    <h1>
        <a href="/accueil_connecte">ENI-Enchères</a>
    </h1>
</header>
<main>
    <h2>Nouvelle vente</h2>
    <div>
        <img src="">
    </div>
    <div>
    <form th:action="@{/articles/enregistrer_article}" 
        th:object="${article}" 
        method="post">

        <input type="text" th:field="*{nomArticle}" placeholder="Nom"/>
        <div th:errors="*{nomArticle}" style="color:red;"></div>

        <input type="text" th:field="*{description}" placeholder="Description"/>
        <div th:errors="*{description}" style="color:red;"></div>

        <input type="number" th:field="*{miseAPrix}"/>
        <div th:errors="*{miseAPrix}" style="color:red;"></div>

        <input type="date" th:field="*{dateDebutEncheres}"/>
        <div th:errors="*{dateDebutEncheres}" style="color:red;"></div>

        <input type="date" th:field="*{dateFinEncheres}"/>
        <div th:errors="*{dateFinEncheres}" style="color:red;"></div>

        <select th:field="*{noCategorie}">
            <option th:each="c : ${categories}"
                    th:value="${c}"
                    th:text="${c.libelle}">
            </option>
        </select>

        <button type="submit">Créer</button>
    </form>
    </div>
    <script src="/js/nouvelleVente.js"></script>
</main>
<footer>
    <p>&copy; ENI - Tous droits réservés</p>
</footer>
</body>
</html>