<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profil utilisateur</title>
</head>
<body>
<header>
    <h1>
        <a href="/accueil_connecte">ENI-Enchères</a>
    </h1>
</header>
<main th:object="${utilisateur}">
    <h2>Mon profil</h2>

<p>Pseudo : <span th:text="${utilisateur.pseudo}"></span></p>
<p>Nom : <span th:text="${utilisateur.nom}"></span></p>
<p>Prénom : <span th:text="${utilisateur.prenom}"></span></p>
<p>Email : <span th:text="${utilisateur.email}"></span></p>
<p>Téléphone : <span th:text="${utilisateur.telephone}"></span></p>
<p>Ville : <span th:text="${utilisateur.ville}"></span></p>

<a href="/profil/edit">Modifier mon profil</a>
</main>
<footer>
    <p>&copy; ENI - Tous droits réservés</p>
</footer>
</body>
</html>